
body{background-color:lavender;}

.cuadro{
    color: rebeccapurple;
}

.titulo{
    top: 50%;
    width: 100%;
    text-align: center;
    color: rebeccapurple;
    border: 4px solid rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro{
    border: 4px solid rebeccapurple;
}

.letra{
    font-family: Arial, Helvetica, sans-serif
}

.position-menu{
    justify-content: center;
}



.nuestra-empresa{
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 20px; 
    grid-template-areas: 
    ". ."; 
    text-align: justify; 


}

.catalogo{
    display:flex;
    justify-content: space-evenly;
}

.item-catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item{
    margin-right: 5%;
    text-decoration: none;


}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .catalogo{
        display:block;
    }
    .nuestra-empresa{
        display: block;
        width:90%;
        text-align: justify; 
        margin:auto;

    
    
    }
    #titulo{
        width: 95%; 
    }

}



.d-block{
    max-height: 700px;
}